<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr />

<p class="animated fadeIn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, excepturi perferendis. Nostrum quisquam asperiores, veniam, ducimus nemo tenetur ipsum tempora odio fugiat nam sed architecto ab atque impedit accusantium. <br /> Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Illo officiis fugiat veniam maiores, reiciendis ex non maxime. Beatae laboriosam laudantium debitis illum. Mollitia, quaerat dolor reprehenderit nesciunt adipisci eius enim!
</p>
